<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Un mondo di vantaggi</h1>
      <p class="lead text-muted">La nostra visione è supportare le imprese con 
          l'innovazione digitale</p>
      <p class="lead text-muted">Creadactive è una start up italiana nata nel 
          2020 con unico obbiettivo,
        supportare le impresse per lo sviluppo del business 
        attraverso strumenti di pagamento innovativi</p>
      
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
</main> 

