<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="color:#e95420;">I nostri Partners</h1>
</div>

<div class="container justify-content-center mt-5">
    <div class="row">
      <div class="col-sm">
        <figure class="figure">
            <img src="../../assets/partner1.PNG" class="figure-img img-fluid rounded float-left" alt="A generic square placeholder image with rounded corners in a figure.">
          </figure>
      </div>
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
        <figure class="figure">
            <img src="../../assets/partner2.PNG" class="figure-img img-fluid rounded float-right" alt="A generic square placeholder image with rounded corners in a figure.">
          </figure>
      </div>
    </div>
  </div>