
<main role="main">
  <div class= "d-flex justify-content-center">
    <div class="container mt-5">
      <div class="row">
      <div class="col-md-6 mt-5">
        <h1>Incrementa la tua liquidità </h1>
        <p class="lead text-muted">Ricaricabile tramite carta di credito, permette al cliente
          di usufruire di sconti dedicati.
          Al momento della ricarica l'esercente riceve l'accredito entro 24 ore
        </p>
        <span class="weigthAll mt-2"> Pagamento </span>
        <p class="text-muted">
          <a> <img src="../../assets/virtual1.PNG" class="img-fluid rounded" width="50">  
            Scansione il QR o Codice a barre per il pagamento </a>       
        </p>
        <span class="weigthAll mt-2"> Geocalizzazione </span> 
        <p class="text-muted">
          <a> <img src="../../assets/virtual2.PNG" class="img-fluid rounded" width="50"> 
             La funzione è attivabile per individuare  negozi convenzionati </a>
        </p>
    </div>
  <div class="col-md-6">
    <img  src="../../assets/virtualCardBackground.PNG">  
  </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">  
            <div class="card-body">
              <div class="card-header bg-info text-white">
                <h4 class="my-0 font-weight-normal">Aumento della liquidità </h4>
              </div>
                <p class="card-text weigthAll">
                  Ad ogni ricarica della Virtual Card l'esercente riceve in anticipo il credito 
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <div class="card-header bg-secondary text-white">
                <h4 class="my-0 font-weight-normal">Marketplace Credactive </h4>
              </div>
                <p class="card-text weigthAll">
                  L'esercente ha accesso al marketplace per la vendita Online
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">   
            <div class="card-body">
              <div class="card-header bg-success text-white">
                <h4 class="my-0 font-weight-normal">Prodotti Assicurativi </h4>
              </div>
                <p class="card-text weigthAll">
                  Prodotti assicurativi per le imprese con sconti dedicati (ITAS Assicurazioni)
                </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">  
            <div class="card-body">
              <div class="card-header bg-primary text-white">
                <h4 class="my-0 font-weight-normal">CRM Credactive </h4>
              </div>
                <p class="card-text weigthAll">
                  Software per la gestione dei clienti
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">  
            <div class="card-body">
              <div class="card-header bg-warning text-white">
                <h4 class="my-0 font-weight-normal">Cred4you </h4>
              </div>
                <p class="card-text weigthAll"> 
                  Servizio di pagamento rateale istantaneo per i clienti
                </p>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>
</main>