<main role="main">
  <div class= "d-flex justify-content-center">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12 mt-5">
          <img src="../../assets/serviziBack.PNG">
        </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="card bg-light mb-4 shadow-sm">
              <div class="servizi">
                <img src="../../assets/sviluppoSofware.PNG" class="img-fluid rounded" width="70"></div>
              <div class="card-body">
                <div class="card-header bg-info text-white text-center">
                  <h4 class="my-0 font-weight-normal">Sviluppo Software </h4>
                </div>
                <p class="card-text" style="font-weight: 600;">
                  Grazie alla Partnership con GISDATA Srl, sviluppiamo Soluzioni Software per ogni 
                  esigenza
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light mb-4 shadow-sm">
              <div class="servizi">
                <img src="../../assets/consulenza.PNG" class="img-fluid rounded" width="70"></div>
              <div class="card-body">
                <div class="card-header bg-info text-white text-center">
                  <h4 class="my-0 font-weight-normal">Consulenza </h4>
                </div>
                <p class="card-text" style="font-weight: 600;">
                  Consulenza su Gestione Privacy (DPO),
                </p>
                <p style="font-weight: 600;"> Cyber Security e Networking</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light mb-4 shadow-sm">
              <div class="servizi">
                <img src="../../assets/social.PNG" class="img-fluid rounded" width="70"></div>
              <div class="card-body">
                <div class="card-header bg-info text-white text-center">
                  <h4 class="my-0 font-weight-normal">Social Media Marketing </h4>
                </div>
                <p class="card-text" style="font-weight: 600;">Proponiamo consulenza e strategie operative per promuovere prodotti 
                  e servizi attraverso i Social Media</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>