<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="color:#e95420;">Il nostro Team</h1>
</div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white text-uppercase">
          <h4 class="my-0 font-weight-normal weigthAll">Founder</h4>
        </div>
        <div class="card-body">
          <img class="team" src="../../assets/team1.PNG">
          <button type="button" class="btn btn-lg btn-block btn-success">Ruben Guarnaccia</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white text-uppercase">
          <h4 class="my-0 font-weight-normal weigthAll">Sales Manager</h4>
        </div>
        <div class="card-body">
          <img class="team" src="../../assets/team2.PNG">
          <button type="button" class="btn btn-lg btn-block btn-success">Gian Piero Ravaldini</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white text-uppercase">
          <h4 class="my-0 font-weight-normal weigthAll">Social Manager</h4>
        </div>
        <div class="card-body">
          <img class="team" src="../../assets/team3.PNG">
          <button type="button" class="btn btn-lg btn-block btn-success">Davide Raimondo</button>
        </div>
      </div>
    </div>
  </div>
  