<!-- 
<div class="d-flex justify-content-center" style="margin-top:100px;">
        <iframe width="960" 
        height="615" 
        src="https://www.youtube.com/embed/1ozGKlOzEVc" 
        frameborder="0" 
        allowfullscreen>
    </iframe>
</div> -->
<!-- <main role="main">
    <section class="jumbotron text-center">
      <div class="container container1">
         <h1>Un mondo di vantaggi</h1>
        <p class="lead text-muted">La nostra visione è supportare le imprese con 
            l'innovazione digitale</p>
        <p class="lead text-muted">Creadactive è una start up italiana nata nel 
            2020 con unico obbiettivo,
          supportare le impresse per lo sviluppo del business 
          attraverso strumenti di pagamento innovativi</p>
        
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> 
      </div>
    </section>
  </main>  -->

  <div class="d-flex justify-content-center">
    <section class="text-center">
  <div class="container container1" style="margin-top:200px;width:600px;margin-left:auto;">
    <h1 style="color:#e95420 !important;font-weight: 600;font-size: 38px;">"Un mondo di vantaggi"</h1>
    <p class="lead text-muted">La nostra visione è supportare le imprese con 
        l'innovazione digitale
        Creadactive è una start up italiana nata nel 
        2020 con unico obbiettivo,
      supportare le impresse per lo sviluppo del business 
      attraverso strumenti di pagamento innovativi</p>
  </div>
  </section>
  </div>